
<footer class="fixed-bottom">

  <p class="text-center">&trade; Trademark CampApp 2020 | created by &copy; Shownola/Sherry Wasieko All rights reserved</p>
</footer>


    </div> <!-- ending of container -->
  </body>
</html>
