body {
  background: #fff;
}
.img-thumbnail img {
  width: 100%;
  max-height: 100%;

}
min-height {
  height: 163px;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}
.delete-form {
  display: inline;
}
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .75;
  border-radius: .2rem;
}
.jumbotron {
  background-image: url('../../img/blue-greenlandscape.jpg');
  height: 450px;
  background-size: cover;
}
